
@model EntityLayer.Concrete.Course
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h2>Add Course Page</h2>

@using (Html.BeginForm("AddCourse","AdminCourse",FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Course Code")
        @Html.TextBoxFor(x=>x.CourseCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.CourseCode)
        <br /> <br />
        @Html.Label("Course Name")
        @Html.TextAreaFor(x=>x.CourseName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.CourseName)
        <br /> <br />
        @Html.Label("Credit")
        @Html.TextBoxFor(x=>x.Credit, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.Credit)
        <br /> <br />
        @Html.Label("Course Type")
        @Html.TextBoxFor(x=>x.CourseType, new { @class = "form-control" })
        @Html.ValidationMessageFor(x=>x.CourseType)
        <br /> <br />
        <button class="alert-success">Save</button>
    </div>
}


